<%- include('./partials/header'); -%>

<h3 style="font-size:30px;text-align: center; color: dodgerblue;">
    <br>
    Your document sent to your registered email.
    <br>
    Thanks for using our service. Have a nice Day !!! 

</h3>


<%- include('./partials/footer'); -%>