<%- include('./partials/header'); -%>


<h3 style="font-size:30px;text-align: center; color: dodgerblue;">
    <br>
    Problem with server. Please try after some time.
</h3>

<%- include('./partials/footer'); -%>